# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
.env

# Cache
.toolops_cache/

# Testing
.gitlab/
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.tmp_test_cli/

# Editors
.vscode/
.idea/
.comments


# OS
.DS_Store